* { 
    font-family: 'Montserrat', sans-serif; 
    transition: all 1s; 
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb { background-color: white; }
::-webkit-scrollbar-track { background-color: black; }

.button {
    
    border: none; 
    color: white;
    background-color: black;

    &:hover { 
        color: black;
        background-color: white;
        box-shadow: 3px 3px 0px black;
    } 

    &:focus { outline: 0; }
    
}